/* CSS Document */
@font-face{font-family:"Oculus Sans";font-style:normal;font-weight:400;src:local("Oculus Sans Regular"), local("OculusSans-Regular"), url(/fonts/OculusSans-Light.otf) format("opentype")}
@font-face{font-family:"Oculus Sans";font-style:italic;font-weight:400;src:local("Oculus Sans Regular Italic"), local("OculusSans-RegularItalic"), url(/fonts/OculusSans-LightItalic.otf) format("opentype")}
@font-face{font-family:"Oculus Sans";font-style:normal;font-weight:600;src:local("Oculus Sans SemiBold"), local("OculusSans-SemiBold"), url(/fonts/OculusSans-SemiBold.otf) format("opentype")}
@font-face{font-family:"Oculus Sans";font-style:italic;font-weight:600;src:local("Oculus Sans SemiBold Italic"), local("OculusSans-SemiBoldItalic"), url(/fonts/OculusSans-SemiBoldItalic.otf format("opentype")}
@font-face{font-family:"Oculus Sans";font-style:normal;font-weight:900;src:local("Oculus Sans Black"), local("OculusSans-Black"), url(/fonts/OculusSans-Black.otf) format("opentype")}
@font-face{font-family:"Oculus Sans KR";font-style:normal;font-weight:400;src:local("Oculus Sans KR Regular"), local("OculusSansKR-Regular"), url(/fonts/OculusSansKR-Regular.otf) format("opentype")}
@font-face{font-family:"Oculus Sans KR";font-style:normal;font-weight:600;src:local("Oculus Sans KR SemiBold"), local("OculusSansKR-SemiBold"), url(/fonts/OculusSansKR-SemiBold.otf) format("opentype")}
@font-face{font-family:"Oculus Sans KR";font-style:normal;font-weight:900;src:local("Oculus Sans KR Bold"), local("OculusSans-Bold"), url(/fonts/OculusSans-Bold.otf) format("opentype")}

.anchorFix {
  padding-top: 100px;
  margin-top: -100px;
  pointer-events: none;
}

blockquote {
  padding: 3px 10px 5px 15px !important;
  background-color: #F0F0F0;
  border-left: 5px black solid;
  margin: 10px 0px 10px 0px !important;
}
.important
{
  border-left: 5px ORANGE solid !important;
}
.important::before {
/*  font-family: "Font Awesome 5 Free"; font-weight: 900; color: ORANGE; font-size: 24px; padding-top:5px !important; content: "\f071"; */
}
.warning
{
  border-left: 5px RED solid !important;
}
.warning::before {
/* font-family: "Font Awesome 5 Free"; font-weight: 900; color: RED; font-size: 24px; padding-top:5px !important; content: "\f00d"; */
}

#footerContainer {
  position: absolute !important;
}
#rightNav {
  float: right;
  background-color: #F0F0F0;
  border-left: 10px solid WHITE;
  padding: 10px;
  border-radius: 5px;
  padding: 20px;
  width: 250px;
  max-width: 250px;
  margin-left: 10px !important;
  margin-right: 0px !important;
}
#rightNav ul, #rightNav li, #rightNav span {
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
  margin: 2px !important;
  padding: 1px !important;
}
#rightTOC li {
  width: 175px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}
.bxPageFooter__right ul, .bxPageFooter__right li {
  margin: 0px !important;
}
#PDRTJS_8723510_msg, #rating_info_8723510 { display: none !important; }
#pd_rating_holder_8723510 p { padding: 5px 0px 0px 0px !important; margin: 0px !important; }
#pd_rating_holder_8723510 div { padding: 0px !important; margin: 0px !important; }


.bxPageFooter__navItem, ._5f6b {
    letter-spacing: 0.35px;
    text-size-adjust: 100%;
    font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    margin: 0px;
}/*#H3_1*/


.bxPageSiteMap__header {
    color: rgb(255, 255, 255) !important;
    height: 24px;
    letter-spacing: 0.35px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-transform: uppercase;
    width: 251px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 125.5px 18px;
    transform-origin: 125.5px 18px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 14px / 24px "Oculus Sans", Arial, Helvetica, sans-serif !important;
    margin: 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 0px 0px 12px;
}/*#H3_1*/

.bxPageSiteMap__header:after {
    color: rgb(255, 255, 255);
    letter-spacing: 0.35px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 14px / 24px "Oculus Sans", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H3_1:after*/

.bxPageSiteMap__header:before {
    color: rgb(255, 255, 255);
    letter-spacing: 0.35px;
    text-align: left;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-transform: uppercase;
    column-rule-color: rgb(255, 255, 255);
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 14px / 24px "Oculus Sans", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#H3_1:before*/


.bxPageSiteMap__listItem {
    color: rgb(119, 120, 121);
    text-align: left;
    text-decoration: none solid rgb(119, 120, 121);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 120, 121);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(119, 120, 121);
    border: 0px none rgb(119, 120, 121);
    font: normal normal 400 normal 14px / 32px "Oculus Sans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 120, 121) none 0px;
    transition: color 0.25s ease 0s;
}/*#A_1*/

.bxPageSiteMap__listItem:after {
    color: rgb(119, 120, 121);
    text-align: left;
    text-decoration: none solid rgb(119, 120, 121);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 120, 121);
    caret-color: rgb(119, 120, 121);
    border: 0px none rgb(119, 120, 121);
    font: normal normal 400 normal 14px / 32px "Oculus Sans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 120, 121) none 0px;
}/*#A_1:after*/

.bxPageSiteMap__listItem:before {
    color: rgb(119, 120, 121);
    text-align: left;
    text-decoration: none solid rgb(119, 120, 121);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 120, 121);
    caret-color: rgb(119, 120, 121);
    border: 0px none rgb(119, 120, 121);
    font: normal normal 400 normal 14px / 32px "Oculus Sans", Arial, Helvetica, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 120, 121) none 0px;
}/*#A_1:before*/

#leftnavContainer ul, #leftnavContainer li {
  list-style-type: none !important;
  font-family: "Oculus Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: left;
}
#leftnavContainer ul {
  padding: 0px !important;
  margin: 0px 0px 0px 15px !important;
}
#leftnavContainer li {
  padding: 0px !important;
  margin: 0px !important;
}
#leftnavContainer a {
  color: #8d8e8f;
}
.chevronRight, .chevronDown {
  margin-left: -10px;
}
.nav-item, ._37ds, .bxPageSiteMap__listItem, .nav-link {
  list-style-type: none !important;
  margin: 0px !important;
}
.tab-content {
  margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    column-rule-color: rgb(50, 52, 54);
    caret-color: rgb(50, 52, 54);
    border: 1px outset rgb(128, 128, 128);
    border-spacing: 0px 0px;
    outline: rgb(50, 52, 54) none 0px;
}/*#TABLE_1*/

tbody {
    border-collapse: collapse;
    column-rule-color: rgb(50, 52, 54);
    caret-color: rgb(50, 52, 54);
    border: 0px none rgb(128, 128, 128);
    outline: rgb(50, 52, 54) none 0px;
}/*#TBODY_2*/

tr {
    border-collapse: collapse;
    vertical-align: middle;
    column-rule-color: rgb(50, 52, 54);
    perspective-origin: 131.6px 20.4px;
    transform-origin: 131.6px 20.4px;
    caret-color: rgb(50, 52, 54);
    border: 0px none rgb(128, 128, 128);
    outline: rgb(50, 52, 54) none 0px;
}/*#TR_3, #TR_7, #TR_11*/

th {
    border-collapse: collapse;
    color: white;
    background-color: black;
    text-align: -webkit-left;
    vertical-align: bottom;
    column-rule-color: rgb(50, 52, 54);
    caret-color: rgb(50, 52, 54);
    border: 1px inset rgb(128, 128, 128);
    outline: rgb(50, 52, 54) none 0px;
    padding: 8px !important;
}/*#TH_4*/


td {
    border-collapse: collapse;
    text-size-adjust: 100%;
    vertical-align: top;
    column-rule-color: rgb(50, 52, 54);
    caret-color: rgb(50, 52, 54);
    border: 1px inset rgb(128, 128, 128);
    outline: rgb(50, 52, 54) none 0px;
    padding: 8px !important;
}/*#TD_8, #TD_12*/



ul li {
    color: rgb(119, 120, 121);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(119, 120, 121);
    caret-color: rgb(119, 120, 121);
    border: 0px none rgb(119, 120, 121);
    margin: 8px 0px !important;
    outline: rgb(119, 120, 121) none 0px;
    list-style-type: disc;
    margin-left: 23px !important;
}/*#LI_1*/


h1 {
    color: rgb(28, 30, 32) !important;
    text-align: left;
    text-decoration: none solid rgb(28, 30, 32);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(28, 30, 32);
    caret-color: rgb(28, 30, 32);
    border: 0px none rgb(28, 30, 32);
    font: normal normal 100 normal 40px / 48px "Oculus Sans", Arial, Helvetica, sans-serif !important;
    margin: 0px 0px 8px !important;
    outline: rgb(28, 30, 32) none 0px;
}/*#H1_1*/


h2 {
    color: rgb(28, 30, 32) !important;
    text-align: left;
    text-decoration: none solid rgb(28, 30, 32);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(28, 30, 32);
    caret-color: rgb(28, 30, 32);
    border: 0px none rgb(28, 30, 32);
    font: normal normal 100 normal 30px / 38px "Oculus Sans", Arial, Helvetica, sans-serif !important;
    margin: 0px 0px 8px !important;
    outline: rgb(28, 30, 32) none 0px;
}/*#H2_1*/


p, li, td {
    color: rgb(119, 120, 121);
    text-rendering: optimizeLegibility;
    column-rule-color: rgb(119, 120, 121);
    caret-color: rgb(119, 120, 121);
    font: normal normal 400 normal 18px / 24px "Oculus Sans", Arial, Helvetica, sans-serif;
    margin: 18px 0px !important;
    outline: rgb(119, 120, 121) none 0px;
}/*#P_1*/

pre {
    border: 0px !important;
    font: normal normal 400 normal 14px / 20px Menlo, Monaco, "Andale Mono", "Courier New", monospace;
    margin: 0px;
    overflow: auto;
    padding: 12px;
}/*#PRE_1*/

.highlight {
    bottom: 0px;
    color: rgb(50, 52, 54);
    position: relative;
    text-align: left;
    text-decoration: none solid rgb(50, 52, 54);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(50, 52, 54);
    caret-color: rgb(50, 52, 54);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(50, 52, 54);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 16px / 24px -apple-system, system-ui, Roboto, Arial, Helvetica, sans-serif;
    outline: rgb(50, 52, 54) none 0px;
    overflow: hidden;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 412.297px 13px;
    transform-origin: 412.297px 13px;
    caret-color: rgb(75, 79, 86);
    background: rgb(246, 247, 249) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(233, 235, 238);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 14px / 20px Menlo, Monaco, "Andale Mono", "Courier New", monospace;
    margin: 0px;
    outline: rgb(75, 79, 86) none 0px;
    overflow: auto;
    padding: 12px;
}/*#PRE_2*/

h5 {
    color: rgb(119, 120, 121) !important;
    text-align: left;
    text-decoration: none solid rgb(119, 120, 121);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(119, 120, 121);
    caret-color: rgb(119, 120, 121);
    border: 0px none rgb(119, 120, 121);
    font: normal normal 600 normal 18px / 24px "Oculus Sans", Arial, Helvetica, sans-serif !important;
    outline: rgb(119, 120, 121) none 0px;
}/*#STRONG_1*/


h3 {
    color: rgb(28, 30, 32) !important;
    text-align: left;
    text-decoration: none solid rgb(28, 30, 32);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(28, 30, 32);
    caret-color: rgb(28, 30, 32);
    border-top: 0px none rgb(28, 30, 32);
    border-right: 0px none rgb(28, 30, 32);
    border-bottom: 1px solid rgb(210, 210, 210);
    border-left: 0px none rgb(28, 30, 32);
    font: normal normal 700 normal 22px / 32px "Oculus Sans", Arial, Helvetica, sans-serif !important;
    margin: 0px 0px 19.2px !important;
    outline: rgb(28, 30, 32) none 0px;
}
h4 {
    color: rgb(28, 30, 32) !important;
    text-align: left;
    text-decoration: none solid rgb(28, 30, 32);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    column-rule-color: rgb(28, 30, 32);
    caret-color: rgb(28, 30, 32);
    border: 0px none rgb(28, 30, 32);
    font: normal normal 700 normal 18px / 26px "Oculus Sans", Arial, Helvetica, sans-serif !important;
    margin: 0px 0px 8px !important;
    outline: rgb(28, 30, 32) none 0px;
}/*#H5_1*/


.button {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: inline-block;
    height: 48px;
    min-width: 48px;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    width: 214.531px;
    column-rule-color: rgb(255, 255, 255);
    user-select: none;
    caret-color: rgb(255, 255, 255);
    background: rgb(28, 30, 32) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 2px solid rgb(28, 30, 32);
    border-radius: 24px 24px 24px 24px;
    font: normal normal 600 normal 16px / 28px "Oculus Sans", Arial, Helvetica, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    overflow: hidden;
    padding: 8px 40px;
    transition: background-color 0.5s ease 0s, border-color 0.5s ease 0s, opacity 0.5s ease 0s;
}



#bootloader_JiFFs{height:42px;}.bootloader_JiFFs{display:block!important;}
