<!DOCTYPE html>
<html lang="en" id="facebook" class="">
   <head>
      <title id="pageTitle">{{ page.title }}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer">
      <link type="text/css" rel="stylesheet" href="/css/recreations.css" />
      <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
      <link type="text/css" rel="stylesheet" href="/css/pygments/perldoc.css" />
      <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
      <script src="/js/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="/js/bootstrap.min.js"></script>
      <script src="/js/glossary.js"></script>
      <link type="text/css" rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" />
      <link rel="icon" type="image/png" href="/favicon.png"
      <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
      <meta name="title" content="{{ page.title }}">
      <meta name="description" content="Oculus is the platform for developing PC, Mobile and Web virtual reality experiences.">
      <meta property="og:title" content="{{ page.title }}">
      <meta property="og:description" content="Oculus is the platform for developing PC, Mobile and Web virtual reality experiences.">
      <meta property="og:image" content="https://scontent.xx.fbcdn.net/v/t39.2365-6/18554265_129864567575457_5872180979031867392_n.jpg?_nc_cat=0&amp;oh=58ff43cae27d1f2ad491684f02fa9bea&amp;oe=5B8FE8A8">
      <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer">
      <link type="text/css" rel="stylesheet" href="/css/ntoqGuUR5z6.css" data-bootloader-hash="pl7Nn" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/FjdZ8_i3Ei_.css" data-bootloader-hash="YLaKK" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/PcpCScQFmzn.css" data-bootloader-hash="JiFFs" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/3mF5CXktzoy.css" data-bootloader-hash="MgJju" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/PvG6Tetepy1.css" data-bootloader-hash="hy0OH" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/VSRjw5m-fIc.css" data-bootloader-hash="HLdeJ" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/Td7rwKxj_Sv.css" data-bootloader-hash="KK2DH" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/lJmQHF4dT25.css" data-bootloader-hash="62Oaj" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/Ytxm3M3ZQUN.css" data-bootloader-hash="6QpTe" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/nGZJS-_h_xh.css" data-bootloader-hash="GoxB1" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/6D-h1YxrRPp.css" data-bootloader-hash="EROWm" data-permanent="1" crossorigin="anonymous">
      <link type="text/css" rel="stylesheet" href="/css/DTEHsCl_X-L.css" data-bootloader-hash="C53VZ" data-permanent="1" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/8RUXBfST_uZ.css" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
      <script type="text/javascript">
      (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
      (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
      e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
      })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

      _st('install','zN3Ne3m3P_WLAdmwgf8f','2.0.0');
      </script>
   </head>
   <body class="_4367 chrome webkit mac x1 Locale_en_US" dir="ltr" data-initial-breakpoint="desktop">
      <div>
         <header class="_3yff _3yfi _3yfj _3yfq">
            <div class="_2105 _3pto">
               <ul class="_8cz _8d4 _8c- _8dq _8e1 _d84" id="u_0_0">
               </ul>
            </div>
            <div class="_2101 _3ptn">
               <div id="u_0_1">
                  <div id="oui-dock-toggle" class="_4fr9"><span class="_4fra"></span></div>
               </div>
               <div class="_1fz_ _1f-2"><a href="https://www.oculus.com/"><i class="oculusMarkLarge _3n44 _3n4h _3n4i _3n4k"></i></a><i class="slash _3n44 _3n45 _3n46 _3n48 _1f-0"></i><a href="https://developer.oculus.com/"><span>developers</span></a></div>
            </div>
            <div class="_2106">
               <div class="_d83 _d84">
                  <div class="_31ci">
                     <div id="u_0_2">
                        <div class="_3a4z _3yfi">
                           <div class="_3a50" role="presentation"></div>
                           <!-- div class="_3a51 _3yfg"-->
                              <input id="searchQueryInput" placeholder="Search" type="text" class="bxInputControl__input st-default-search-input" autocapitalize="none" autocomplete="off" autocorrect="off" cols="80" minlength="0" size="20" rows="4" tabindex="1" wrap="soft" value="">
                           <!-- /div-->
                           <i class="_3a5f search _3n44 _3n45 _3n46 _3n48" colorscheme="dark"></i>
                        </div>
                     </div>
                  </div>
                  <div class="_31ci">
                     <div id="u_0_3"><a href="https://dashboard.oculus.com/settings" tabindex="1"><i class="bxIcon24 bxIcon24--dark bxIcon24--settings" role="presentation"></i></a></div>
                  </div>
                  <!--a href="https://auth.oculus.com/login/?redirect_uri=https%3A%2F%2Fdeveloper.oculus.com%2F" class="_15vl">Login</a-->
               </div>
            </div>
         </header>
         <div class="_rs9 _1xcn _2b85">
            <div>
               <div class="_2rb1 _qjc _t8x _5lfr _5lfz" id="u_0_4">
                  <div class="_5lfs">
                     <div id="u_0_5">
                        <div class="_37eb">
                           <div class="_28pl">
                             <ul class="_37e9">
                               <li class="_37ds _37dt _37du" data-testid="home" id="leftnavContainer"></li>
                             </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="_3csg _3csj _3o_n" id="u_0_6">
                  <div>
                     <section class="_4gsw _7og" id="u_0_7">
                        <div class="_7p2"></div>
                        <div class="_44mf">
                           <section colorscheme="dark" class="_4gsw _7og">
                              <div class="_7p2"></div>
                           </section>
                        </div>
                     </section>
                  </div>
                  <div class="_4hpg _3ck0">
                     <div class="_rs9 _1xcn" style="text-align: left !important; padding: 35px !important;" id="contentBody">
                      {% if page.norightnav != true %}
                       <div id="rightNav">
                       <ul>
                       <li><a href="https://github.com/johndmulhausen/johndmulhausen.github.io/edit/master/{{ page.path }}"><span class="oi oi-pencil"></span> Edit This Page</a></li>
                       <li style="padding-top:5px !important;"><a href="https://github.com/johndmulhausen/johndmulhausen.github.io/issues/new?body=Page: [{{ page.path }}](https://developer.oculus.com{{ page.url }})"><span class="oi oi-bug"></span> Report Issue</a></li>
                       <li><hr></li>
                       <li>
                       <ul id="rightTOC">
                       </ul>
                       </li>
                       <li><hr></li>
                       <li>Rate This Page:<br>
                        <div id="pd_rating_holder_8723510"></div>
                        <script type="text/javascript">
                        PDRTJS_settings_8723510 = {
                        "id" : "8723510",
                        "unique_id" : "{{ page.url }}",
                        "title" : "{{ page.title }}",
                        "permalink" : "{{ page.url }}"
                        };
                        (function(d,c,j){if(!document.getElementById(j)){var pd=d.createElement(c),s;pd.id=j;pd.src=('https:'==document.location.protocol)?'https://polldaddy.com/js/rating/rating.js':'http://i0.poll.fm/js/rating/rating.js';s=document.getElementsByTagName(c)[0];s.parentNode.insertBefore(pd,s);}}(document,'script','pd-rating-js'));
                        </script>
                       </li>
                       </ul>
                       </div>
                       {% endif %}
                        {% if page.title and page.skip-autotitle != true %}
                        <h1>{{ page.title }}</h1>
                        {% endif %}
                        <!-- tags -->
                        {% unless page.notags == true %}
                        {% assign keywords = page.keywords | split:"," %}
                        {% for keyword in keywords %}{% assign strippedKeyword = keyword | strip %}
                        {% capture keywordlist %}{{ keywordlist }}<a href="/glossary/?term={{strippedKeyword}}">{{strippedKeyword}}</a>{% unless forloop.last %}, {% endunless %}{% endcapture %}
                        {% endfor %}
                        {% if keywordlist.size > 0 %}<span class="oi oi-tags" style="padding-right: 10px; padding-left: 5px;"></span><span style="vertical-align: 2px">{{ keywordlist }}</span>{% endif %}
                        {% endunless %}
                        <div data-swiftype-index='true'>{{ content }}</div>
                     </div>
                  </div>
                  <footer class="_5m3g" id="footerContainer">
                     <footer id="page-footer">
                        <div class="bxPageSiteMap">
                           <div class="bxPageSiteMap__columnContainer" id="u_0_n">
                              <div class="bxGrid bxGrid--parent" id="bottomNavContainer"></div>
                           </div>
                        </div>
                        <div class="bxPageFooter">
                           <div class="bxPageFooter__content">
                              <div class="bxPageFooter__left _5f6c"></div>
                              <div class="bxPageFooter__left">
                                 <div class="_33qs"><span><span class="_3s90" role="presentation"><a class="_33qd"><i class="i18n _3n44 _3n45 _3n46 _3n48" colorscheme="dark"></i><span class="_33qh">English (US)</span><i class="caretDown _3n44 _3n45 _3n46 _3n48" colorscheme="dark"></i></a>
                                    </span>
                                    </span>
                                 </div>
                                 <!-- react-mount-point-unstable -->
                              </div>
                              <div class="bxPageFooter__right">
                                 <ul class="bxPageFooter__nav" id="copyright"><li class="bxPageFooter__navItem"><b>©&nbsp;{{ 'now' | date: "%Y" }} {{ site.company }}.</b></li></ul>
                                 <ul class="bxPageFooter__nav" id="textFooter"></ul>
                                 <ul class="_2gx7" id="iconFooter"></ul>
                              </div>
                           </div>
                        </div>
                     </footer>
                  </footer>
               </div>
            </div>
         </div>
      </div>
      <!-- Now that the HTML is done, load the metadata and functions, then
      use them to trigger a nav render -->
      <script language="JavaScript">
      var pageURL = '{{ page.url }}';
      </script>
      <script src="/js/metadata.js"></script>
      <script src="/js/mainlogic.js"></script>
      <script src="/js/nav.js"></script>
</html>
